@import "tailwindcss";

:root {
  --bg: #fff;

  background: var(--bg);

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

